.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.initialpage {
  background-image: url(http://bit.ly/33MKo7L);
  background-size: cover;
  height: 100vh;
  position: absolute;
  width:100vw;
}

.bluebanner {
  display:flex;
  flex-direction:column;
  background-color: blue;
  transition: margin-right 4s;
  color: antiquewhite;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  font-size: .5em;
}

.twobuttons {
  margin-left:1em;
}

.yesno {
  background-color: blue;
  color:white;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  margin:.5em;
  font-size:1.2em;
  padding: 1em;
  border-radius: 0.4em;
}

.yesno:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(0.4em);
}

.yesno:hover{
  background:pink;
  border:plum;
  color:grey;
}

#mark {
  margin-top:20px;
  transition-delay: 5s;
}

.originalbg {
  margin-top:60px;
  text-align: center;
}

.searchbar {
  margin-left:120px;
  font-family: 'roboto', sans-serif;
  font-style: italic;
}

#motibox {
  display:flex;
}

#quote {
  background: transparent;
  color: transparent;
  height:90px;
  font-size: 16px;
  flex:1;
  margin-right: 30px;
  border-color:orange;
  border-width: 2px;
}

#quote.activated {
  color: orange;
  font-size: 16px;
  height:90px;
  background: transparent;
  font-family: 'roboto', sans-serif;
  font-style: italic;
  border: orange;
  flex:1;
  margin-right: 30px;
}

#quote2 {
  background: transparent;
  color: transparent;
  height:90px;
  font-size: 16px;
  flex:1;
  margin-right: 30px;
  border-color:goldenrod;
  border-width: 2px;
}

#quote2.activated {
  color:goldenrod;
  font-size: 16px;
  height:90px;
  background: transparent;
  font-family: 'roboto', sans-serif;
  font-style: italic;
  border: goldenrod;
  flex:1;
  margin-right: 30px;
}

#quote3 {
  background: transparent;
  color: transparent;
  height:90px;
  font-size: 16px;
  flex:1;
  margin-right: 30px;
  border-color: palevioletred;
  border-width: 2px;
}

#quote3.activated {
  color:palevioletred;
  font-size: 16px;
  height:90px;
  background: transparent;
  font-family: 'roboto', sans-serif;
  font-style: italic;
  border: palevioletred;
  flex:1;
  margin-right: 30px;
}